{% extends 'layout.html' %}

{% block title %}

{% endblock %}

{% block body %}
  <div class="account-details">
      <div class="email-detail">
          Ваша текущая почта: {{ object.email }}
          <form action="{% url 'account:change-email' %}" method="post">
              {% csrf_token %}
              {{ email_change.as_p }}
              <input class="input-submit" type="submit" value="Сменить почту">
          </form>
      </div>
      <div class="password-detail">
          Желаете сменить пароль?
          <form action="{% url 'account:change-password' %}" method="post">
              {% csrf_token %}
              {{ password_change.as_p }}
              <input class="input-submit" type="submit" value="Сменить пароль">
          </form>
      </div>
      <div class="errors">
          {% if messages %}
            {% for message in messages %}
                <ul class="messages">
                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                </ul>
            {% endfor %}
          {% endif %}
      </div>
  </div>
{% endblock %}