@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
  font-family: Muli, sans-serif, serif;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4 {
  font-family: Fantasy, Sans-serif, serif;
}

.header {
  height: 55px;
  background-color: #ad69ab;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin: 0px;
}

.nav-menu ul {
  list-style: none;
}

.nav-menu li {
  display: inline;
  padding: 10px;
}

.nav-menu li a {
  text-decoration: none;
  text-decoration-style: none;
  color: #f9e277;
}

.greeting {
  margin: 30px;
}

.image-slides {
  margin: 30px;
  display: none;
  border-radius: 20px;
  width: 480px;
  height: 640px;
  object-fit: cover;
}

.image-container {
  position: relative;
  display: inline-block;
}

#display-left, #display-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 54px;
}

#display-left {
  left: 30px;
}

#display-right {
  right: 30px;
}

.profile-detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profile-description {
  padding: 30px;
  font-size: 30px;
}

.email-detail {
  padding: 30px;
}

.form-input {
  font-size: 30px;
  border-radius: 15px;
  display: block;
}