{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header">
        {% if user.is_authenticated %}
        <ul class="nav-menu">
            <li><a href="{% url 'profiles:profile_view' user.pk %}">Мой профиль</a></li>
            <li><a href="{% url 'profiles:swipes' %}">Свайпы</a></li>
            <li><a href="{% url 'profiles:my_sympathy' %}">Понравившиеся мне</a></li>
            <li><a href="{% url 'profiles:other_sympathy' %}">Я нравлюсь</a></li>
        </ul>
        <ul class="nav-menu">
            <li><a href="{% url 'account:account-detail' user.pk %}">Настройки</a></li>
            <li><a href="{% url 'account:logout' %}">Выйти</a></li>
        </ul>
        {% else %}
        <ul class="nav-menu">
            <li><a href="{% url 'account:register' %}">Зарегистрироваться</a></li>
            <li><a href="{% url 'account:login' %}">Войти</a></li>
        </ul>
        {% endif %}
    </div>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
    <div class="dropdown">
            <button class="dropbtn"></button>
            <div class="dropdown-content">
                {% if user_notifications %}
                    {% for notification in user_notifications %}
                        <div class="notification">
                            <p>{{ notification.message }}</p>
                            {% if not notification.is_read %}
                                <a href="{% url 'profiles:notification_has_been_read' notification.id %}">X</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="notification">
                            <p align="center">Уведомлений нет</p>
                        </div>
                {% endif %}
            </div>
        </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% block domready %}
        {% endblock %}
    });
</script>
</html>