{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header">
        <ul class="nav-menu">
            <li><a href="{% url 'profiles:profile_view' user.pk %}">Мой профиль</a></li>
            <li><a href="#">Понравившиеся мне</a></li>
            <li><a href="#">Я нравлюсь</a></li>
        </ul>
    </div>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% block domready %}
        {% endblock %}
    });
</script>
</html>